# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
work/
temp/
installed_plugins/
assets/
build/
dist/

*.spec
*.python-version
my_app_info.json
system_shared_data.json